//-----------------built-ins-----------------
//mac
.fptw-mac-light{
  @extend .fptw;
  color: #000;
  background: #fff;
  border: 1px solid #A5A5A5;

  .fptw-header-mac-light{
    @extend .fptw-header;
    background: #eaeaea; /* Old browsers */
    background: -moz-linear-gradient(top,  #eaeaea 0%, #d3d3d3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #eaeaea 0%,#d3d3d3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #eaeaea 0%,#d3d3d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #7F7F7F;
    text-shadow: 1px 1px #fff;
  }
}
.fptw-mac-dark{
  @extend .fptw;
  color: #fff;
  background: rgba(0,0,0,0.8);
  border: 1px solid #A5A5A5;

  .fptw-header-mac-dark{
    @extend .fptw-header;
    background: #eaeaea; /* Old browsers */
    background: -moz-linear-gradient(top,  #eaeaea 0%, #d3d3d3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #eaeaea 0%,#d3d3d3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #eaeaea 0%,#d3d3d3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#d3d3d3',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid #7F7F7F;
    text-shadow: 1px 1px #fff;
    color: #000;
  }
}
//codeine
.fptw-codeine{
  @extend .fptw;
  color: #fff;
  background: #38103F;
  //border: 1px solid #7F5A7B;

  .fptw-header-codeine{
    @extend .fptw-header;
    background: #7F5A7B;
    //border-bottom: 1px solid #7F7F7F;
    text-shadow: 1px 1px #38103F;
    color: #fff;
  }
}
//grey-orange
.fptw-grey-orange{
  @extend .fptw;
  color: #fff;
  background: #404749;
  //border: 1px solid #A5A5A5;

  .fptw-header-grey-orange{
    @extend .fptw-header;
    background: #F0592A;
    //border-bottom: 1px solid #fff;
    text-shadow: 1px 1px #404749;
    color: #fff;
  }
}
//pink-dreams
.fptw-pink-dreams{
  @extend .fptw;
  color: #FB7D79;
  background: #35284A;
  //border: 1px solid #A5A5A5;

  .fptw-header-pink-dreams{
    @extend .fptw-header;
    background: #FB7D79;
    //border-bottom: 1px solid #fff;
    text-shadow: 1px 1px #35284A;
    color: #fff;
  }
}
//lime
.fptw-lime-light{
  @extend .fptw;
  color: #60CAAD;
  background: #FBFBFB;
  border: 1px solid #60CAAD;

  .fptw-header-lime-light{
    @extend .fptw-header;
    background: #60CAAD;
    //border-bottom: 1px solid #fff;
    text-shadow: none;
    color: #fff;
  }
}
.fptw-lime-dark{
  @extend .fptw;
  color: #60CAAD;
  background: #444444;
  //border: 1px solid #60CAAD;

  .fptw-header-lime-dark{
    @extend .fptw-header;
    background: #60CAAD;
    //border-bottom: 1px solid #fff;
    text-shadow: none;
    color: #fff;
  }
}
//submarine
.fptw-submarine{
  @extend .fptw;
  color: #00CCCC;
  background: #2C8182;
  //border: 1px solid #60CAAD;

  .fptw-header-submarine{
    @extend .fptw-header;
    background: #00CCCC;
    //border-bottom: 1px solid #fff;
    text-shadow: none;
    color: #fff;
  }
}
//classic
.fptw-classic{
  @extend .fptw;
  color: #fff;
  background: #000000;
  border: 1px solid #D5D5D5;

  .fptw-header-classic{
    @extend .fptw-header;
    background: #ffffff;
    //border-bottom: 1px solid #fff;
    text-shadow: 1px 1px #fff;
    color: #000;
  }
}
.fptw-classic-inverse{
  @extend .fptw;
  color: #000;
  background: #ffffff;
  border: 1px solid #D5D5D5;

  .fptw-header-classic-inverse{
    @extend .fptw-header;
    background: #000000;
    //border-bottom: 1px solid #fff;
    text-shadow: 1px 1px #000;
    color: #fff;
  }
}
//wisteria
.fptw-wisteria{
  @extend .fptw;
  color: #8e44ad; // canvas text color
  background: #ecf0f1; // canvas background
  border: 1px solid #8e44ad; // terminal border

  .fptw-header-wisteria{
    @extend .fptw-header;
    background: #8e44ad; // header background
    //border-bottom: 1px solid #fff; // header border-bottom
    text-shadow: none; // header text shadow
    color: #fff; // header text color
  }
}
//pomegranate
.fptw-pomegranate{
  @extend .fptw;
  color: #fff; // canvas text color
  background: #c0392b; // canvas background
  //border: 1px solid #8e44ad; // terminal border

  .fptw-header-pomegranate{
    @extend .fptw-header;
    background: #2c3e50; // header background
    //border-bottom: 1px solid #fff; // header border-bottom
    text-shadow: none; // header text shadow
    color: #fff; // header text color
  }
}
//navy
.fptw-navy{
  @extend .fptw;
  color: #fff; // canvas text color
  background: #3D3638; // canvas background
  //border: 1px solid #8e44ad; // terminal border

  .fptw-header-navy{
    @extend .fptw-header;
    background: #2C7ECC; // header background
    //border-bottom: 1px solid #fff; // header border-bottom
    text-shadow: none; // header text shadow
    color: #fff; // header text color
  }
}
//honeycomb
.fptw-honeycomb{
  @extend .fptw;
  color: #FCC918; // canvas text color
  background: #4A3B05; // canvas background
  //border: 1px solid #8e44ad; // terminal border

  .fptw-header-honeycomb{
    @extend .fptw-header;
    background: #FCC918; // header background
    //border-bottom: 1px solid #fff; // header border-bottom
    text-shadow: none; // header text shadow
    color: #4A3B05; // header text color
  }
}
