//terminal
$frame_width: 500px;
$frame_height: 250px;
$canvas_color: #2c3e50;
$font_family: consolas;
$font_size: 13px;
$text_color: #ffffff;
$border: none;
//header
$header_height: 27px;
$header_color: #2ecc71;
$border_bottom: none;
$header_text_shadow: 1px 1px #7C7C7C;
$header_text_color: inherit;
